<div *ngIf="wine">{{wine.id}}</div>

<form [formGroup]="tastingNoteForm" novalidate (ngSubmit)="save(tastingNoteForm.value)">
  <div class="form-group row" [ngClass]="{'has-danger': tastingNoteForm.controls.notes.invalid && tastingNoteForm.controls.notes.touched}">
    <div class="col-sm-6">
      <textarea name="notes" id="notes" cols="30" rows="3" class="form-control" formControlName="notes" placeholder="Notes..."></textarea>
      <div class="form-control-feedback" *ngIf="tastingNoteForm.controls.notes.invalid && tastingNoteForm.controls.notes.touched">
        You must enter a tasting note.
      </div>
    </div>
  </div>
    <div class="form-group row" [ngClass]="{'has-danger': tastingNoteForm.controls.score.invalid && tastingNoteForm.controls.score.touched}">
    <div class="col-md-2 col-sm-2 col-lg-2">
      <input type="number" name="score" id="score" class="form-control" formControlName="score">
      <div class="form-control-feedback" *ngIf="tastingNoteForm.controls.score.invalid && tastingNoteForm.controls.score.touched">
        Score required.
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-sm btn-success">Save</button>
</form>